In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('1000_Companies.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
#encoding the categorical data 
#Linear regression expects numeric values

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [6]:
ohe=OneHotEncoder(drop='first', sparse=False, dtype=np.int32)

In [7]:
#making an array using State column of the dataset
states=df['State']

In [8]:
states

0        New York
1      California
2         Florida
3        New York
4         Florida
          ...
995    California
996    California
997    California
998    California
999      New York
Name: State, Length: 1000, dtype: object

In [9]:
#one hot encoding the states array, also reshaping is required for the fit_transform funtion
states=ohe.fit_transform(states.values.reshape(-1, 1))

In [10]:
#converting the array to a dataframe
states=pd.DataFrame(states)

In [11]:
#merging the two dataframes
df=pd.concat([df, states], axis=1)

In [12]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit  0  1
0  165349.20       136897.80        471784.10    New York  192261.83  0  1
1  162597.70       151377.59        443898.53  California  191792.06  0  0
2  153441.51       101145.55        407934.54     Florida  191050.39  1  0
3  144372.41       118671.85        383199.62    New York  182901.99  0  1
4  142107.34        91391.77        366168.42     Florida  166187.94  1  0

In [14]:
#dropping the State column as it is not needed
df=df.drop('State',axis=1)

In [15]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit  0  1
0  165349.20       136897.80        471784.10  192261.83  0  1
1  162597.70       151377.59        443898.53  191792.06  0  0
2  153441.51       101145.55        407934.54  191050.39  1  0
3  144372.41       118671.85        383199.62  182901.99  0  1
4  142107.34        91391.77        366168.42  166187.94  1  0

In [27]:
df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
Profit             float64
0                    int32
1                    int32
dtype: object

In [35]:
df.columns=df.columns.astype(str)

In [36]:
#splitting the data into train and test

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X=df.drop('Profit', axis=1)
y=df['Profit']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [39]:
#we will use Linear Regression to predict the value

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
lr=LinearRegression()

In [42]:
lr.fit(X_train,y_train)

LinearRegression()

In [43]:
y_pred=lr.predict(X_test)

In [44]:
from sklearn.metrics import r2_score

In [45]:
r2_score(y_test, y_pred)

0.9576046652418833

In [46]:
import joblib

In [47]:
joblib.dump(lr, 'final_model.pkl')

['final_model.pkl']

In [48]:
joblib.dump(df.columns, 'new_cols.pkl')

['new_cols.pkl']

In [49]:
new_cols=joblib.load('new_cols.pkl')

In [50]:
loaded_model=joblib.load('final_model.pkl')

In [52]:
loaded_model.predict([[144372.41,118671.85,383199.62,0,1]])

array([161733.73096571])

In [ ]:
#182901.99